// Цвета
$text-color: rgb(0, 0, 0);
$link-color: #344273;
$visited-link-color: $link-color;
$brand-100-color: #344273;
$brand-50-color: rgba(52, 66, 115, 0.5);
$white-color: #fff;
$gray-color-2: #4F4F4F;

// Закругления
$radius: 3px;