
.inputWrapper {
    margin-bottom: 5px;
}

.form {
    margin-bottom: 10px;
}

.bottomSection {
    display: flex;
}

.bottomSection--left {
    margin-right: 12px;
}

.bottomSection--right {
    display: flex;
    align-items: center;
}